{% extends 'base.html.twig' %}

{% block title %}Changement mot de passe{% endblock %}

{% block body %}
    <br/><br/><br/><br/>
    <div class="container center-block">
    <h3 class="h3 mb-3 font-weight-normal center-block">Changer votre mot de passe ici</h3><br/>
    </div>
    <div class="d-flex justify-content-center border border-info form-css">

    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.plainPassword) }}
        <button class="btn badge badge-info" type="submit">réinitialiser mon mot de passe</button>
    {{ form_end(changePasswordForm) }}
        <br/>
    </div>
{% endblock %}
