{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <br/><br/><br/><br/>

    <div class="d-flex justify-content-center border border-info form-css">
        <h3 class="h3 mb-3 font-weight-normal">Change Password Here</h3>

    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.plainPassword) }}

        <button class="btn badge badge-info" type="submit">Reset password</button>
    {{ form_end(changePasswordForm) }}
    </div>
{% endblock %}
