{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    <div class="container">
        <h1> Enregistrez-vous pour bénéficier davantage de privilèges </h1>
        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Je souhaite m'enregistrer !
                </button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
