{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <br/><br/><br/><br/>
<div class="d-flex justify-content-center border border-info form-css">
    <div class="row">
        <div class="">
            <h3 class="h3 mb-3 font-weight-normal">Changer votre mots de pass ici</h3>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.Email) }}

            <button class="btn badge badge-info" type="submit">Changer mon mdp</button>
        {{ form_end(resetForm) }}
        </div>
    </div>
</div>

        <br/><br/>
        <div class="d-flex justify-content-center ">
            {% for message in app.session.flashbag.get('info') %}
                <br/><br/><br/><br/>
                <div class="alert alert-success ">

                    <p> {{ message }}</p>

                </div>
            {% endfor %}
        </div>



{% endblock %}
