/*
Author : Yohann durand
License : student
*/
.navbar  {
    width: 100%;
}

.carousel-item active {
    width: 100%;
}

body {
    background-color:#fff;
}
/* Form login */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.img-type {
    width: 38%;
    margin-top : 15px ;
}
.card-img-top {
    height: 250px ;
}
/* Card Tricks */
.card {
    margin-top: 50px ;
}

#trickList {
    width: 100% ;
}

#card-deck {
    width: 100% ;
}
/* Single */
.first-picture {
    width: 50%;
}

/* Media */
.add_media_link {
    color : #fff ;
    background-color: #007bff;
    border: none ;
    width: 100%;
    height: 40px ;
    margin: 1%;
}

ul#media li {
    list-style-type: none;
    width: 100%;
}

/* Embed */
.add_embed_link {
    color : #fff ;
    background-color: #007bff;
    border: none ;
    width: 100%;
    height: 40px ;
    margin: 1%;
}

ul#embed li {
    list-style-type: none;
    display: inline;
    width: 100%;
}
ul#embed {
    list-style-type: none;
    display: inline;
    width: 100%;
}
ul {
    list-style-type : none;
}

.delete_embed_link {
    width: 70%;
    margin: auto ;
}

.delete_embed {
    width: 70%;
    margin: auto ;
}

/* Prototype Media */
button.js-genus-scientist-add {
    color : #fff ;
    background-color: #007bff;
    border: none ;
    width: 100%;
    height: 40px ;
    margin: 1%;

}
/* Prototype Embed */
button.js-embed-scientist-add {
    color : #fff ;
    background-color: #007bff;
    border: none ;
    width: 100%;
    height: 40px ;
    margin: 1%;
}

/* gestion prototype */
.js-genus-scientist-wrapper {
    display: inline;
}

.js-embed-scientist-wrapper {
    display: inline;
}

#custom-file {
    width: 100% ;
}

.form-control {
    width: 100% ;
}
.form-group {
    width: 100% ;
}

#tricks_media{
    width: 100% ;
    margin-left: 15px ;
}

/* FileType Form */
.custom-file-label::after {
    color : #fff ;
    background-color: #007bff;
}

.custom-file-input{
    opacity: 1;
}
input #add_tricks_media_1_file {
    opacity: 1;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

button#loadMoreTricks.btn.btn-primary {
    margin-top: 5% ;
}

button#loadMoreComment.btn.btn-primary {
    margin-top: 5% ;
    margin-bottom: 5% ;
}

.container-thumbnail {
    width: 50%;
    margin: auto ;
}

