{# templates/emails/signup.html.twig #}

<h3>Hello !</h3>

Bonjour, votre adresse : {{ name  }} est bien confirmer ! Vous êtes enregistré avec succès sur le site Web de Snowtricks.

Merci pour votre abonnement et maintenant, visitez notre site Web!

