<h3>Reset Your Password</h3>

Vous avez demandé un changement de mots de passe !

pour définir un nouveau mots de passe : <a href="{{ url('resetNow', { token: user.token }) }}">
    {{  url('resetNow', { token: user.token }) }}</a> .

Merci.


