{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}
    <div class="container">
        <h1>accès interdit</h1>
        <p>
            Accès interdit sur la page demandée !<br/>
            Veuillez entrer une page valide, <a href="{{ path('app_homepage') }}">Aller à la page home</a>.
        </p>
        <p>
            Nous sommes désoler, cette recherche n'a rien donné,<br/>
            Il se peut que vous n'avez pas les droits requis, Nous vous souhaitons une agréable visite sur notre site.
        </p>
    </div>
{% endblock %}