{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Problème !{% endblock %}

{% block body %}
    <h1>Vous avez un problème</h1>

    <p>
        la page demandée n'est pas trouver
        veuillez entrer une page valide, <a href="{{ path('app_homepage') }}">Aller à la page home </a>.
    </p>
{% endblock %}
